@charset "utf-8";
/* CSS Document */
#contenedor{
	width: 1200px;
	position: relative;
	margin: auto;
}
#zonaformulario{
	float: left;
	padding: 30px;
	border: 3px solid #671FA2;
}
#zonadatos{
	float: left;
	width: 500px;
	margin-left: 20px;
	padding: 20px;
	border: 3px dashed #2C81C1;
}
.directorio{
	color: #20A73D;
	font-weight: bold;
	cursor: pointer;
}

